<html>

<body background = "http://www.brickshelf.com/gallery/cbolego/Yamato/50.jpg">

<table align = "center" height ="50%" > 
<tr>
<td>


<font face = "Arial" size="6">

<%= yield %>

</td>
</tr>
</table>


</html>